body {
    background: rgb(145,143,144);
    background: linear-gradient(220deg, rgba(145,143,144,1) 0%, rgba(239,240,240,1) 52%);
}

h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.container {
    max-width: 980px;
}
